* {
  padding: 0;
  margin: 0;
}

#main-container {
  position: absolute;
  z-index: 2;
  vertical-align: middle;
}

#fast-cash {
  margin-bottom: 10px;
}

#coming-soon {
  border: 10px solid black;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
}

#coming-soon, #fast-cash {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin: 0 auto;
}

#background {
  z-index: 1;
  word-wrap: break-word;
  font-size: 12px;
}