* {
  padding: 0;
  margin: 0;
}

#main-container {
  z-index: 2;
}

#fast-cash {
  left: 0;
  right: 0;
  margin-top: 90px;
  font-size: 100px;
  height: 100px;
  width: 500px;
}

#coming-soon {
  margin-top: 80px;
  font-size: 60px;
  border: 10px solid black;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  width: 450px;
}

#coming-soon, #fast-cash {
  font-weight: 600;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#background {
  z-index: -1;
  position: absolute;
  top: 0;
  word-wrap: break-word;
  font-size: 12px;
}